#
# TeC7a.ucf
#
NET "ADC_REF[7]" LOC = P1 | IOSTANDARD="LVCMOS33";
NET "ADC_REF[6]" LOC = P2 | IOSTANDARD="LVCMOS33";
# NET "GND" LOC = P3;
# NET "VCCO" LOC = P4;
NET "ADC_REF[5]" LOC = P5 | IOSTANDARD="LVCMOS33";
NET "ADC_REF[4]" LOC = P6 | IOSTANDARD="LVCMOS33";
NET "ADC_REF[3]" LOC = P7 | IOSTANDARD="LVCMOS33";
NET "ADC_REF[2]" LOC = P8 | IOSTANDARD="LVCMOS33";
NET "ADC_REF[1]" LOC = P9 | IOSTANDARD="LVCMOS33";
NET "ADC_REF[0]" LOC = P10 | IOSTANDARD="LVCMOS33";
NET "JP_IN[0]" LOC = P11 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "JP_IN[1]" LOC = P12 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "GND" LOC = P13;
NET "BREAK_SW" LOC = P14 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "STEP_SW" LOC = P15 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "RUN_SW" LOC = P16 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "STOP_SW" LOC = P17 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "VCCO" LOC = P18;
# NET "VCCINT" LOC = P19;
# NET "VCCAUX" LOC = P20;
NET "SETA_SW" LOC = P21 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "INCA_SW" LOC = P22 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "DECA_SW" LOC = P23 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "WRITE_SW" LOC = P24 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "GND" LOC = P25;
NET "DATA_SW[7]" LOC = P26 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "DATA_SW[6]" LOC = P27 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "VCCINT" LOC = P28;
NET "DATA_SW[5]" LOC = P29 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "DATA_SW[4]" LOC = P30 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "GND" LOC = P31;
NET "DATA_SW[3]" LOC = P32 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "DATA_SW[2]" LOC = P33 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "DATA_SW[1]" LOC = P34 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "DATA_SW[0]" LOC = P35 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "VCCAUX" LOC = P36;
# NET "PRGM" LOC = P37;
# NET "NC" LOC = P38;
# NET "INIT" LOC = P39;
NET "LEFT_SW" LOC = P40 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "RIGHT_SW" LOC = P41 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "VCCO" LOC = P42;
NET "RUN_LED" LOC = P43 | IOSTANDARD="LVCMOS33";
NET "Z_LED" LOC = P44 | IOSTANDARD="LVCMOS33";
NET "S_LED" LOC = P45 | IOSTANDARD="LVCMOS33";
NET "C_LED" LOC = P46 | IOSTANDARD="LVCMOS33";
NET "MM_LED" LOC = P47 | IOSTANDARD="LVCMOS33";
NET "PC_LED" LOC = P48 | IOSTANDARD="LVCMOS33";
# NET "GND" LOC = P49;
NET "SP_LED" LOC = P50 | IOSTANDARD="LVCMOS33";
NET "G2_LED" LOC = P51 | IOSTANDARD="LVCMOS33";
# NET "VCCINT" LOC = P52;
# NET "VCCAUX" LOC = P53;
# NET "GND" LOC = P54;
NET "CLK_IN" LOC = P55 | IOSTANDARD="LVCMOS33";
NET "G1_LED" LOC = P56 | IOSTANDARD="LVCMOS33";
NET "G0_LED" LOC = P57 | IOSTANDARD="LVCMOS33";
NET "DATA_LED[0]" LOC = P58 | IOSTANDARD="LVCMOS33";
NET "DATA_LED[1]" LOC = P59 | IOSTANDARD="LVCMOS33";
# NET "M1" LOC = P60;
NET "DATA_LED[2]" LOC = P61 | IOSTANDARD="LVCMOS33";
NET "DATA_LED[3]" LOC = P62 | IOSTANDARD="LVCMOS33";
# NET "VCCO" LOC = P63;
# NET "NC" LOC = P64;
# NET "DIN" LOC = P65;
# NET "NC" LOC = P66;
# NET "NC" LOC = P67;
# NET "GND" LOC = P68;
# NET "M0" LOC = P69;
# NET "CCLK" LOC = P70;
# NET "DONE" LOC = P71;
# NET "NC" LOC = P72;
# NET "NC" LOC = P73;
# NET "NC" LOC = P74;
# NET "NC" LOC = P75;
# NET "VCCO" LOC = P76;
# NET "GND" LOC = P77;
NET "DATA_LED[4]" LOC = P78 | IOSTANDARD="LVCMOS33";
NET "DATA_LED[5]" LOC = P79 | IOSTANDARD="LVCMOS33";
NET "DATA_LED[6]" LOC = P80 | IOSTANDARD="LVCMOS33";
NET "DATA_LED[7]" LOC = P81 | IOSTANDARD="LVCMOS33";
NET "SPK_OUT" LOC = P82 | IOSTANDARD="LVCMOS33";
NET "ADDR_LED[0]" LOC = P83 | IOSTANDARD="LVCMOS33";
NET "ADDR_LED[1]" LOC = P84 | IOSTANDARD="LVCMOS33";
NET "ADDR_LED[2]" LOC = P85 | IOSTANDARD="LVCMOS33";
# NET "VCCO" LOC = P86;
NET "ADDR_LED[3]" LOC = P87 | IOSTANDARD="LVCMOS33";
NET "ADDR_LED[4]" LOC = P88 | IOSTANDARD="LVCMOS33";
# NET "VCCINT" LOC = P89;
# NET "VCCAUX" LOC = P90;
# NET "GND" LOC = P91;
NET "ADDR_LED[5]" LOC = P92 | IOSTANDARD="LVCMOS33";
NET "ADDR_LED[6]" LOC = P93 | IOSTANDARD="LVCMOS33";
NET "ADDR_LED[7]" LOC = P94 | IOSTANDARD="LVCMOS33";
NET "SD_CD" LOC = P95 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "GND" LOC = P96;
# NET "SD-DAT1" LOC=97 | IOSTANDARD="LVCMOS33";
NET "SPI_DIN" LOC = P98 | IOSTANDARD="LVCMOS33";
NET "SPI_SCLK" LOC = P99 | IOSTANDARD="LVCMOS33";
NET "SPI_DOUT" LOC = P100 | IOSTANDARD="LVCMOS33";
NET "SPI_CS" LOC = P101 | IOSTANDARD="LVCMOS33";
# NET "SD-DAT2" LOC = P102 | IOSTANDARD="LVCMOS33";
# NET "VCCO" LOC = P103;
NET "ACC_LED" LOC = P104 | IOSTANDARD="LVCMOS33";
NET "FT232RL_RXD" LOC = P105 | IOSTANDARD="LVCMOS33";
# NET "TDO" LOC = P106;
# NET "TMS" LOC = P107;
# NET "GND" LOC = P108;
# NET "TCK" LOC = P109;
# NET "TDI" LOC = P110;
NET "FT232RL_TXD" LOC = P111 | IOSTANDARD="LVCMOS33";
##NET "PS2_DAT" LOC = P112 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "GND" LOC = P113;
##NET "PS2_CLK" LOC = P114 | IOSTANDARD="LVCMOS33";
##NET "VGA_VSYNC" LOC = P115 | IOSTANDARD="LVCMOS33";
##NET "VGA_HSYNC" LOC = P116 | IOSTANDARD="LVCMOS33";
##NET "VGA_BLUE" LOC = P117 | IOSTANDARD="LVCMOS33";
##NET "VGA_GREEN" LOC = P118 | IOSTANDARD="LVCMOS33";
##NET "VGA_RED" LOC = P119 | IOSTANDARD="LVCMOS33";
NET "RESET_SW" LOC = P120 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "EXT_OUT[7]" LOC = P121 | IOSTANDARD="LVCMOS33";
# NET "VCCO" LOC = P122;
NET "EXT_OUT[6]" LOC = P123 | IOSTANDARD="LVCMOS33";
NET "EXT_OUT[5]" LOC = P124 | IOSTANDARD="LVCMOS33";
# NET "VCCO" LOC = P125;
NET "EXT_OUT[4]" LOC = P126 | IOSTANDARD="LVCMOS33";
NET "EXT_OUT[3]" LOC = P127 | IOSTANDARD="LVCMOS33";
# NET "VCCINT" LOC = P128;
# NET "VCCAUX" LOC = P129;
# NET "GND" LOC = P130;
NET "EXT_OUT[2]" LOC = P131 | IOSTANDARD="LVCMOS33";
NET "EXT_OUT[1]" LOC = P132 | IOSTANDARD="LVCMOS33";
NET "EXT_OUT[0]" LOC = P133 | IOSTANDARD="LVCMOS33";
NET "EXT_INOUT[3]" LOC = P134 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "VCCO" LOC = P135;
# NET "GND" LOC = P136;
NET "EXT_INOUT[2]" LOC = P137 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "EXT_INOUT[1]" LOC = P138 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "EXT_INOUT[0]" LOC = P139 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "EXT_IN[3]" LOC = P140 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "EXT_IN[2]" LOC = P141 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "EXT_IN[1]" LOC = P142 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "EXT_IN[0]" LOC = P143 | IOSTANDARD="LVCMOS33" | PULLUP;
# NET "HS" LOC = P144;
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2011/11/14
NET "CLK_IN" TNM_NET = CLK_IN;
TIMESPEC TS_CLK_IN = PERIOD "CLK_IN" 101.725260417 ns HIGH 50% INPUT_JITTER 1017.25260417ps;
#TIMESPEC TS_CLK_IN = PERIOD "CLK_IN" 101.72526 ns HIGH 50%;
